@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Listen to theme music <a href="https://music.yandex.ru/artist/11067300">Shadowraze</a>.</p>
    <a href="https://www.youtube.com/watch?v=3UxEwmfZq04&t=65s">Nature's Prophet</a>
</div>
